

<div class="container">
    <div class="page-header">
        <h3>ADISON Employee Details</h3>      
      </div>
    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Phone</th>
      <th scope="col">City</th>
      <th scope="col">Address 1</th>
      <th scope="col">Address 2</th>
      <th scope="col">Postal Code</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let emp of employeeDetails;let i=index;">
      <th scope="row">{{i + 1}}</th>
      <th>{{emp.name}}</th>
       <th>{{this.getPhone(emp.phone)}}</th>
        <th>{{emp.address.city}}</th>
         <th>{{emp.address.address_line1}}</th>
          <th>{{emp.address.address_line2}}</th>
           <th>{{emp.address.postal_code}}</th>
    </tr>
  </tbody>
</table>
</div>